#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #00a087; 
    z-index: 4;     
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.14), 
                0px 5px 20px rgba(0, 0, 0, 0.15);
}

#nav-bar .logo {
    width:80px; 
    height: 80px;
    float: left;    
}

#nav-bar .header {
    color: #e8fdff;
    padding-left: 10px;
    float: left;
    line-height: 80px;
    font-size: 200%;    
    font-style: italic;
}

section.navStuff {
    float: right;
    width: 50%;
    height: 100%;
    padding: 10px;
}

section.navStuff .toggleButton {
    color: #05443a;
    padding: 10px;
    float: right;
    border: .5px solid black;
    border-radius: 4px;
    height: 60px;
    width: 105px;
    opacity: .6;
}

section.navStuff .toggleButton:hover {
    opacity: 1;
    background-color: #e8fdff;
    color: black; 
}