.new-tweet {
    position: relative;
    padding: 10px;
    border: black;
    background-color: #dcd8d8ee;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    border-bottom:1px solid black;
}

span.counter {
    float: right;
}

.form {
    padding: 2em;
    box-align: inline;
    display: inline-block;
}

textarea {
    font-family: monospace;
    border-color: rgb(169, 169, 169);
    width: 100%;
}

